* {
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

.card {
  background: #fff2e1;
  flex: 1 0 25%;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  min-width: 250px;
  min-height: 250px;
  display: grid;
  overflow: hidden;
  padding: 20px 20px 0;
  box-shadow: 0 1px 7px;
  position: relative;
}

img {
  border-radius: 150px;
  height: 100px;
  margin: 10px auto 0;
  display: block;
  box-shadow: 0 2px 6px rgb(47, 47, 47, 0.652);
  z-index: 2;
}

h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

p,
em {
  font-size: 1rem;
}
